.matrixcell {
    height: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: bisque;
}

input[type="button"] {
    height: 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
}